# FaxofiÇakmaSmp TAB Scripti
# Yapan: ChatGPT :)

every 5 seconds:
    loop all players:
        set {_online} to size of all players
        set {_ping} to ping of loop-player
        set tab list header to "&6&lFaxofi&cÇakma&fSmp||&7En iyi SMP deneyimi!" for loop-player
        set tab list footer to "&aOyuncular: &f%{_online}% &7| &aPingin: &f%{_ping}% ms" for loop-player

on join:
    wait 1 second
    execute console command "sk reload tab"
